@{
    ViewData["Title"] = "Home Page";
}

<button class="btn btn-primary" id="encrypt-btn">Encrypt Text</button>
<button class="btn btn-primary" id="decrypt-btn">Decrypt Text</button>



@section Scripts
{
    <script>

        const D = document;
        D.getElementById('encrypt-btn').addEventListener('click', function(e){
            e.preventDefault();
            window.location = '/Encrypt/Index';
        });

        D.getElementById('decrypt-btn').addEventListener('click', function (e) {
            e.preventDefault();
            window.location = '/Decrypt';
        });

    </script>
}
