<div class="row mb-5">
    <div class="col-md">
        <button class="btn btn-primary" id="copy-btn">Copy Text</button>
        <small class="text-success ms-3 hide" id="success-msg">Copy Successful</small>
    </div>
</div>