<div class="row mb-2">
    <div class="col-md">
        <label>Text to Be Encrypted</label>
        <textarea class="form-control" id="unencrypted-text" rows="8"></textarea>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md">
        <button class="btn btn-primary" id="encrypt-btn">Encrypt Text</button>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md">
        <label>Encrypted Text</label>
        <textarea class="form-control" id="encrypted-text" rows="8" disabled></textarea>
    </div>
</div>

@{
    Html.RenderPartial("/Views/Shared/_ClipboardTextArea.cshtml");
}

@section Scripts 
{
    <script src="~/js/Pages/EncryptPage.js" type="module"></script>
}